<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

    <title>Shoptalk Show Scraper</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">Shoptalk Show Scraper</a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link navMargin" href="/">Home</a>
                    <a class="nav-item nav-link navMargin" href="/saved">Saved Episodes</a>
                    <button type="button" class="btn btn-primary" id="scrape">Get All Shoptalk Episodes</button>
                </div>
            </div>

        </div>
    </nav>
    {{{ body }}}

    <script src="/assets/js/app.js"></script>
</body>

</html>